


.jumbotron{
    background: #9575CD ;
    margin-bottom: 0px;
    color: #fff;
}

nav{
    background-color: #6b27e0d0;
    z-index: 1;
}

body{
    z-index: 0;

}



.about-us{
    margin-top: 0%;
}



.row-content,content{
    margin:80px 0px;
}

.footer{
    background-color: #D1C4E9;
    
}

.footer-content{
    padding-top: 20px;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

#carouselslides{
    background: #6b27e0d0;
}

.carousel-item{
    height: 300px;
}

.carousel-item img{
    min-height: 300px;
    width: 300px;
    position: absolute;
    top: 0;
    left: 0;
    
}

